@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --royal-blue: #0056D2;
  --light-grey: #F4F6F8;
  --white: #FFFFFF;
}

body {
  color: #1a202c;
  background: var(--white);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
